In [1]:
import os

In [2]:
import pandas as pd

In [13]:
data_folder = os.path.join(os.path.expanduser("~"),"Datamining","ch4","ml-100k","ml-100k")

In [14]:
ratings_filename = os.path.join(data_folder, "u.data")

In [15]:
ratings_filename

'C:\\Users\\abhijit\\Datamining\\ch4\\ml-100k\\ml-100k\\u.data'

In [20]:
all_ratings = pd.read_csv(ratings_filename, delimiter="\t", header=None, names = ["UserID", "MovieID", "Rating", "Datetime"])

In [21]:
all_ratings

       UserID  MovieID  Rating   Datetime
0         196      242       3  881250949
1         186      302       3  891717742
2          22      377       1  878887116
3         244       51       2  880606923
4         166      346       1  886397596
5         298      474       4  884182806
6         115      265       2  881171488
7         253      465       5  891628467
8         305      451       3  886324817
9           6       86       3  883603013
10         62      257       2  879372434
11        286     1014       5  879781125
12        200      222       5  876042340
13        210       40       3  891035994
14        224       29       3  888104457
15        303      785       3  879485318
16        122      387       5  879270459
17        194      274       2  879539794
18        291     1042       4  874834944
19        234     1184       2  892079237
20        119      392       4  886176814
21        167      486       4  892738452
22        299      144       4  877881320
23        291      118       2  874833878
24        308        1       4  887736532
25         95      546       2  879196566
26         38       95       5  892430094
27        102      768       2  883748450
28         63      277       4  875747401
29        160      234       5  876861185
...       ...      ...     ...        ...
99970     449      120       1  879959573
99971     661      762       2  876037121
99972     721      874       3  877137447
99973     821      151       4  874792889
99974     764      596       3  876243046
99975     537      443       3  886031752
99976     618      628       2  891308019
99977     487      291       3  883445079
99978     113      975       5  875936424
99979     943      391       2  888640291
99980     864      685       4  888891900
99981     750      323       3  879445877
99982     279       64       1  875308510
99983     646      750       3  888528902
99984     654      370       2  887863914
99985     617      582       4  883789294
99986     913      690       3  880824288
99987     660      229       2  891406212
99988     421      498       4  892241344
99989     495     1091       4  888637503
99990     806      421       4  882388897
99991     676      538       4  892685437
99992     721      262       3  877137285
99993     913      209       2  881367150
99994     378       78       3  880056976
99995     880      476       3  880175444
99996     716      204       5  879795543
99997     276     1090       1  874795795
99998      13      225       2  882399156
99999      12      203       3  879959583

[100000 rows x 4 columns]

In [22]:
all_ratings["Datetime"] = pd.to_datetime(all_ratings['Datetime'],unit='s')

In [23]:
all_ratings.head()

   UserID  MovieID  Rating            Datetime
0     196      242       3 1997-12-04 15:55:49
1     186      302       3 1998-04-04 19:22:22
2      22      377       1 1997-11-07 07:18:36
3     244       51       2 1997-11-27 05:02:03
4     166      346       1 1998-02-02 05:33:16

In [26]:
all_ratings["Favorable"] = all_ratings["Rating"]>3

In [27]:
all_ratings[10:15]

    UserID  MovieID  Rating            Datetime Favorable
10      62      257       2 1997-11-12 22:07:14     False
11     286     1014       5 1997-11-17 15:38:45      True
12     200      222       5 1997-10-05 09:05:40      True
13     210       40       3 1998-03-27 21:59:54     False
14     224       29       3 1998-02-21 23:40:57     False

In [28]:
ratings = all_ratings[all_ratings['UserID'].isin(range(200))]

In [37]:
favorable_ratings_mask = ratings["Favorable"]

In [38]:
favorable_ratings = ratings[favourable_ratings_mask]

In [32]:
ratings

       UserID  MovieID  Rating            Datetime Favorable
0         196      242       3 1997-12-04 15:55:49     False
1         186      302       3 1998-04-04 19:22:22     False
2          22      377       1 1997-11-07 07:18:36     False
4         166      346       1 1998-02-02 05:33:16     False
6         115      265       2 1997-12-03 17:51:28     False
9           6       86       3 1997-12-31 21:16:53     False
10         62      257       2 1997-11-12 22:07:14     False
16        122      387       5 1997-11-11 17:47:39      True
17        194      274       2 1997-11-14 20:36:34     False
20        119      392       4 1998-01-30 16:13:34      True
21        167      486       4 1998-04-16 14:54:12      True
25         95      546       2 1997-11-10 21:16:06     False
26         38       95       5 1998-04-13 01:14:54      True
27        102      768       2 1998-01-02 13:40:50     False
28         63      277       4 1997-10-01 23:10:01      True
29        160      234       5 1997-10-14 20:33:05      True
30         50      246       3 1997-10-17 01:38:49     False
34         97      194       3 1998-01-08 05:54:20     False
35        157      274       4 1998-02-07 22:33:55      True
36        181     1081       1 1997-11-08 04:17:03     False
39          7       32       4 1998-03-31 13:28:52      True
40         10       16       4 1997-10-26 18:01:17      True
48         99        4       5 1998-02-03 15:18:17      True
49        178      332       3 1997-12-22 20:43:57     False
51         81      432       2 1997-10-11 01:58:51     False
53         25      181       5 1998-01-26 22:23:35      True
54         59      196       5 1998-02-23 03:38:08      True
55         72      679       2 1997-11-20 14:46:04     False
56         87      384       4 1997-11-18 18:18:47      True
58         42      423       5 1997-12-03 00:08:07      True
...       ...      ...     ...                 ...       ...
99578      10        9       4 1997-10-26 18:03:25      True
99579      75      473       3 1998-01-06 01:38:53     False
99596     109      180       3 1997-11-26 21:52:07     False
99613     151      559       2 1997-11-14 21:31:15     False
99642      59      273       2 1998-02-23 03:05:29     False
99652      64      184       4 1998-03-12 21:47:23      True
99695      83      245       2 1998-03-29 14:28:23     False
99702      43      591       5 1997-10-04 14:34:16      True
99703      43      123       1 1997-10-04 14:32:00     False
99710      25      176       4 1998-01-26 22:14:22      True
99736     140      303       5 1997-11-08 18:28:04      True
99738      32      408       3 1998-01-02 05:08:04     False
99741      98      194       5 1997-11-25 23:01:38      True
99770      18      967       3 1997-11-21 17:05:01     False
99793      56      575       3 1998-04-18 14:57:49     False
99801      13      446       1 1997-12-17 22:17:19     False
99808     188      484       5 1997-09-24 03:39:52      True
99816     145      769       2 1997-10-20 10:28:00     False
99846      10      198       3 1997-10-26 18:03:25     False
99848       5      174       5 1997-09-30 16:15:30      True
99851      23      227       3 1997-09-20 20:35:38     False
99905     102        7       2 1998-03-02 01:16:47     False
99927     102      172       3 1998-03-02 01:13:52     False
99932     130      824       3 1997-10-02 14:17:10     False
99950     130       93       5 1997-09-22 18:41:05      True
99951     130      121       5 1997-10-07 18:59:06      True
99959     193      690       4 1998-03-05 18:40:21      True
99978     113      975       5 1997-10-04 03:40:24      True
99998      13      225       2 1997-12-17 22:52:36     False
99999      12      203       3 1997-11-19 17:13:03     False

[19531 rows x 5 columns]

In [40]:
favorable_ratings_mask

0        False
1        False
2        False
4        False
6        False
9        False
10       False
16        True
17       False
20        True
21        True
25       False
26        True
27       False
28        True
29        True
30       False
34       False
35        True
36       False
39        True
40        True
48        True
49       False
51       False
53        True
54        True
55       False
56        True
58        True
         ...
99578     True
99579    False
99596    False
99613    False
99642    False
99652     True
99695    False
99702     True
99703    False
99710     True
99736     True
99738    False
99741     True
99770    False
99793    False
99801    False
99808     True
99816    False
99846    False
99848     True
99851    False
99905    False
99927    False
99932    False
99950     True
99951     True
99959     True
99978     True
99998    False
99999    False
Name: Favorable, dtype: bool

In [41]:
favorable_ratings

       UserID  MovieID  Rating            Datetime Favorable
16        122      387       5 1997-11-11 17:47:39      True
20        119      392       4 1998-01-30 16:13:34      True
21        167      486       4 1998-04-16 14:54:12      True
26         38       95       5 1998-04-13 01:14:54      True
28         63      277       4 1997-10-01 23:10:01      True
29        160      234       5 1997-10-14 20:33:05      True
35        157      274       4 1998-02-07 22:33:55      True
39          7       32       4 1998-03-31 13:28:52      True
40         10       16       4 1997-10-26 18:01:17      True
48         99        4       5 1998-02-03 15:18:17      True
53         25      181       5 1998-01-26 22:23:35      True
54         59      196       5 1998-02-23 03:38:08      True
56         87      384       4 1997-11-18 18:18:47      True
58         42      423       5 1997-12-03 00:08:07      True
65        138       26       5 1997-11-08 21:23:52      True
67         60      427       5 1997-12-28 16:30:20      True
68         57      304       5 1998-01-01 23:49:41      True
70        189      512       4 1998-04-22 20:41:42      True
74        194      165       4 1997-11-14 22:32:03      True
76        178      248       4 1997-12-22 20:52:34      True
79        127      229       5 1998-01-09 16:54:27      True
88         11      111       4 1998-04-06 23:04:22      True
89         95      625       4 1998-03-03 19:46:52      True
90          8      338       4 1997-11-12 19:11:13      True
91        162       25       4 1997-10-23 19:39:33      True
92         87     1016       4 1997-11-18 18:03:14      True
95        119     1153       5 1997-09-20 18:46:38      True
96         62      498       4 1997-11-12 22:30:48      True
98         28      209       4 1997-12-12 21:13:34      True
99        135       23       4 1997-11-18 12:56:05      True
...       ...      ...     ...                 ...       ...
99339     151      836       4 1997-11-14 16:21:54      True
99341     151      190       4 1997-11-14 17:31:13      True
99343      85     1166       4 1997-11-13 21:03:41      True
99345      31      192       4 1997-12-08 02:27:34      True
99356     168     1051       4 1998-01-08 19:37:02      True
99376     193      282       5 1998-03-05 19:09:25      True
99383      44      307       4 1997-10-31 23:35:40      True
99385     174       88       5 1998-02-03 13:49:12      True
99399      89      402       4 1997-11-13 22:32:27      True
99438      59     1114       5 1998-02-23 03:10:15      True
99477      89      107       5 1997-11-13 17:23:00      True
99482     122       28       4 1997-11-11 17:41:24      True
99500     160      127       5 1997-10-13 19:16:08      True
99513      57      121       4 1998-01-01 23:30:32      True
99532     115      508       5 1997-12-03 17:33:58      True
99541      92       65       4 1997-09-30 21:12:40      True
99544      58      238       5 1998-01-09 00:19:45      True
99570     165      223       4 1997-11-14 16:44:54      True
99578      10        9       4 1997-10-26 18:03:25      True
99652      64      184       4 1998-03-12 21:47:23      True
99702      43      591       5 1997-10-04 14:34:16      True
99710      25      176       4 1998-01-26 22:14:22      True
99736     140      303       5 1997-11-08 18:28:04      True
99741      98      194       5 1997-11-25 23:01:38      True
99808     188      484       5 1997-09-24 03:39:52      True
99848       5      174       5 1997-09-30 16:15:30      True
99950     130       93       5 1997-09-22 18:41:05      True
99951     130      121       5 1997-10-07 18:59:06      True
99959     193      690       4 1998-03-05 18:40:21      True
99978     113      975       5 1997-10-04 03:40:24      True

[11043 rows x 5 columns]

In [42]:
favorable_reviews_by_users = dict((k, frozenset(v.values)) for k, v in favourable_ratings.groupby("UserID")["MovieID"])

In [43]:
num_favorable_by_movie = ratings[["MovieID","Favorable"]].groupby("MovieID").sum()

In [44]:
num_favorable_by_movie.sort_values(by="Favorable", ascending=False).head()

         Favorable
MovieID
50           100.0
100           89.0
258           83.0
181           79.0
174           74.0

In [45]:
frequent_itemsets = {}

In [46]:
min_support = 50

In [47]:
frequent_itemsets[1] = dict((frozenset((movie_id,)), row["Favorable"])
for movie_id, row in num_favorable_by_movie.iterrows()
if row["Favorable"] > min_support)

In [48]:
from collections import defaultdict

In [51]:
def find_frequent_itemsets(favorable_reviews_by_users, k_1_itemsets, min_support):
    counts = defaultdict(int)
    for user, reviews in favorable_reviews_by_users.items():
        for itemset in k_1_itemsets:
            if itemset.issubset(reviews):
                for other_reviewed_movie in reviews - itemset:
                    current_superset = itemset | frozenset((other_reviewed_movie,))
                    counts[current_superset] += 1
    return dict([(itemset, frequency) for itemset, frequency in counts.items() if frequency >= min_support])

In [59]:
import sys
for k in range(2, 20):
    cur_frequent_itemsets = find_frequent_itemsets(favorable_reviews_by_users,frequent_itemsets[k-1], min_support)
    if len(cur_frequent_itemsets) == 0:
        print("Did not find any frequent itemsets of length {}".format(k))
        sys.stdout.flush()
        break
    else:
        print("I found {} frequent itemsets of length {}".format(len(cur_frequent_itemsets), k))
        sys.stdout.flush()
        frequent_itemsets[k] = cur_frequent_itemsets

I found 93 frequent itemsets of length 2
I found 295 frequent itemsets of length 3
I found 593 frequent itemsets of length 4
I found 785 frequent itemsets of length 5
I found 677 frequent itemsets of length 6
I found 373 frequent itemsets of length 7
I found 126 frequent itemsets of length 8
I found 24 frequent itemsets of length 9
I found 2 frequent itemsets of length 10
Did not find any frequent itemsets of length 11

In [61]:
candidate_rules = []
for itemset_length, itemset_counts in frequent_itemsets.items():
    for itemset in itemset_counts.keys():
        for conclusion in itemset:
            premise = itemset - set((conclusion,))
            candidate_rules.append((premise, conclusion))

In [62]:
print(candidate_rules[:5])

[(frozenset(), 286), (frozenset(), 7), (frozenset(), 64), (frozenset(), 79), (frozenset(), 258)]

In [63]:
[(frozenset({79}), 258), (frozenset({258}), 79), (frozenset({50}), 64), (frozenset({64}), 50), (frozenset({127}), 181)]

[(frozenset({79}), 258),
 (frozenset({258}), 79),
 (frozenset({50}), 64),
 (frozenset({64}), 50),
 (frozenset({127}), 181)]

In [64]:
correct_counts = defaultdict(int)
incorrect_counts = defaultdict(int)
for user, reviews in favorable_reviews_by_users.items():
    for candidate_rule in candidate_rules:
        premise, conclusion = candidate_rule
        if premise.issubset(reviews):
            if conclusion in reviews:
                correct_counts[candidate_rule] += 1
            else:
                incorrect_counts[candidate_rule] += 1

In [65]:
rule_confidence = {candidate_rule:(correct_counts[candidate_rule] / float(correct_counts[candidate_rule] + 
                                                                          incorrect_counts[candidate_rule]))for candidate_rule in candidate_rules}

In [66]:
from operator import itemgetter
sorted_confidence = sorted(rule_confidence.items(), key=itemgetter(1), reverse=True)
for index in range(5):
    print("Rule #{0}".format(index + 1))
    premise, conclusion = sorted_confidence[index][0]
    print("Rule: If a person recommends {0} they will also recommend {1}".format(premise, conclusion))
    print(" - Confidence: {0:.3f}".format(rule_confidence[(premise, conclusion)]))
    print("")

Rule #1
Rule: If a person recommends frozenset({98, 172, 127, 174, 7}) they will also recommend 64
 - Confidence: 1.000

Rule #2
Rule: If a person recommends frozenset({56, 1, 64, 127}) they will also recommend 98
 - Confidence: 1.000

Rule #3
Rule: If a person recommends frozenset({64, 100, 181, 174, 79}) they will also recommend 56
 - Confidence: 1.000

Rule #4
Rule: If a person recommends frozenset({56, 100, 181, 174, 127}) they will also recommend 50
 - Confidence: 1.000

Rule #5
Rule: If a person recommends frozenset({98, 100, 172, 79, 50, 56}) they will also recommend 7
 - Confidence: 1.000

In [67]:
movie_name_filename = os.path.join(data_folder, "u.item")
movie_name_data = pd.read_csv(movie_name_filename, delimiter="|", header=None, encoding = "mac-roman")
movie_name_data.columns = ["MovieID", "Title", "Release Date", "Video Release", "IMDB", "<UNK>",
"Action", "Adventure", "Animation", "Children's", "Comedy", "Crime",
"Documentary", "Drama", "Fantasy", "Film-Noir", "Horror", "Musical",
"Mystery", "Romance", "Sci-Fi", "Thriller", "War", "Western"]

In [69]:
def get_movie_name(movie_id):
    title_object = movie_name_data[movie_name_data["MovieID"] == movie_id]["Title"]
    title = title_object.values[0]
    return title

In [70]:
for index in range(5):
    print("Rule #{0}".format(index + 1))
    premise, conclusion = sorted_confidence[index][0]
    premise_names = ", ".join(get_movie_name(idx) for idx in premise)
    conclusion_name = get_movie_name(conclusion)
    print("Rule: If a person recommends {0} they will also recommend {1}".format(premise_names, conclusion_name))
    print(" - Confidence: {0:.3f}".format(rule_confidence[(premise, conclusion)]))
    print("")

Rule #1
Rule: If a person recommends Silence of the Lambs, The (1991), Empire Strikes Back, The (1980), Godfather, The (1972), Raiders of the Lost Ark (1981), Twelve Monkeys (1995) they will also recommend Shawshank Redemption, The (1994)
 - Confidence: 1.000

Rule #2
Rule: If a person recommends Pulp Fiction (1994), Toy Story (1995), Shawshank Redemption, The (1994), Godfather, The (1972) they will also recommend Silence of the Lambs, The (1991)
 - Confidence: 1.000

Rule #3
Rule: If a person recommends Shawshank Redemption, The (1994), Fargo (1996), Return of the Jedi (1983), Raiders of the Lost Ark (1981), Fugitive, The (1993) they will also recommend Pulp Fiction (1994)
 - Confidence: 1.000

Rule #4
Rule: If a person recommends Pulp Fiction (1994), Fargo (1996), Return of the Jedi (1983), Raiders of the Lost Ark (1981), Godfather, The (1972) they will also recommend Star Wars (1977)
 - Confidence: 1.000

Rule #5
Rule: If a person recommends Silence of the Lambs, The (1991), Fargo (1996), Empire Strikes Back, The (1980), Fugitive, The (1993), Star Wars (1977), Pulp Fiction (1994) they will also recommend Twelve Monkeys (1995)
 - Confidence: 1.000

In [71]:
test_dataset = all_ratings[~all_ratings['UserID'].isin(range(200))]
test_favorable = test_dataset[test_dataset["Favorable"]]
test_favorable_by_users = dict((k, frozenset(v.values)) for k, v in test_favorable.groupby("UserID")["MovieID"])

In [73]:
correct_counts = defaultdict(int)
incorrect_counts = defaultdict(int)
for user, reviews in test_favorable_by_users.items():
    for candidate_rule in candidate_rules:
        premise, conclusion = candidate_rule
        if premise.issubset(reviews):
            if conclusion in reviews:
                correct_counts[candidate_rule] += 1
            else:
                incorrect_counts[candidate_rule] += 1

In [76]:
test_confidence = {candidate_rule:(correct_counts[candidate_rule] / float(correct_counts[candidate_rule] + incorrect_counts[candidate_rule])) for candidate_rule in rule_confidence}
sorted_test_confidence = sorted(test_confidence.items(), key=itemgetter(1), reverse=True)

In [77]:
for index in range(10):
    print("Rule #{0}".format(index + 1))
    premise, conclusion = sorted_confidence[index][0]
    premise_names = ", ".join(get_movie_name(idx) for idx in premise)
    conclusion_name = get_movie_name(conclusion)
    print("Rule: If a person recommends {0} they will also recommend {1}".format(premise_names, conclusion_name))
    print(" - Train Confidence: {0:.3f}".format(rule_confidence.get((premise, conclusion), -1)))
    print(" - Test Confidence: {0:.3f}".format(test_confidence.get((premise, conclusion), -1)))
    print("")

Rule #1
Rule: If a person recommends Silence of the Lambs, The (1991), Empire Strikes Back, The (1980), Godfather, The (1972), Raiders of the Lost Ark (1981), Twelve Monkeys (1995) they will also recommend Shawshank Redemption, The (1994)
 - Train Confidence: 1.000
 - Test Confidence: 0.854

Rule #2
Rule: If a person recommends Pulp Fiction (1994), Toy Story (1995), Shawshank Redemption, The (1994), Godfather, The (1972) they will also recommend Silence of the Lambs, The (1991)
 - Train Confidence: 1.000
 - Test Confidence: 0.870

Rule #3
Rule: If a person recommends Shawshank Redemption, The (1994), Fargo (1996), Return of the Jedi (1983), Raiders of the Lost Ark (1981), Fugitive, The (1993) they will also recommend Pulp Fiction (1994)
 - Train Confidence: 1.000
 - Test Confidence: 0.756

Rule #4
Rule: If a person recommends Pulp Fiction (1994), Fargo (1996), Return of the Jedi (1983), Raiders of the Lost Ark (1981), Godfather, The (1972) they will also recommend Star Wars (1977)
 - Train Confidence: 1.000
 - Test Confidence: 0.975

Rule #5
Rule: If a person recommends Silence of the Lambs, The (1991), Fargo (1996), Empire Strikes Back, The (1980), Fugitive, The (1993), Star Wars (1977), Pulp Fiction (1994) they will also recommend Twelve Monkeys (1995)
 - Train Confidence: 1.000
 - Test Confidence: 0.609

Rule #6
Rule: If a person recommends Silence of the Lambs, The (1991), Fargo (1996), Empire Strikes Back, The (1980), Raiders of the Lost Ark (1981), Fugitive, The (1993), Return of the Jedi (1983), Pulp Fiction (1994) they will also recommend Star Wars (1977)
 - Train Confidence: 1.000
 - Test Confidence: 0.971

Rule #7
Rule: If a person recommends Shawshank Redemption, The (1994), Silence of the Lambs, The (1991), Fugitive, The (1993), Star Wars (1977), Pulp Fiction (1994), Godfather, The (1972) they will also recommend Fargo (1996)
 - Train Confidence: 1.000
 - Test Confidence: 0.739

Rule #8
Rule: If a person recommends Shawshank Redemption, The (1994), Pulp Fiction (1994), Fargo (1996), Return of the Jedi (1983), Twelve Monkeys (1995) they will also recommend Star Wars (1977)
 - Train Confidence: 1.000
 - Test Confidence: 0.971

Rule #9
Rule: If a person recommends Shawshank Redemption, The (1994), Toy Story (1995), Silence of the Lambs, The (1991), Twelve Monkeys (1995), Return of the Jedi (1983), Pulp Fiction (1994) they will also recommend Star Wars (1977)
 - Train Confidence: 1.000
 - Test Confidence: 0.966

Rule #10
Rule: If a person recommends Pulp Fiction (1994), Silence of the Lambs, The (1991), Fargo (1996), Return of the Jedi (1983), Godfather, The (1972) they will also recommend Raiders of the Lost Ark (1981)
 - Train Confidence: 1.000
 - Test Confidence: 0.810